body {
	background: #f0f0f0;
	text-align: center;
}

#gameboard {
	width: 424px; /* 106 * 4 = 424*/
	margin: 0;
}

.container-fluid {
	margin-bottom: 10px;
}

.margin-top {
	margin-top: 20px;
}

.background {
	background-image: url("../images/blue-shadow.png");
}

.custom-card {
	border-radius: 10px;
	background-color: white;
	background-image: url(../images/geometric-blue.jpg);
	width: 100px; /* tegelik laius 106px due to 2*margin-ile*/
	height: 100px;
	margin: 3px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center;
	cursor: pointer;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0.2);
}

.congratulations {
	color: white;
	font-size: 230%;
	margin: 16px 16px 0px 16px;
	font-family: verdan, cursive ;

}

#again {
	margin-top: 20px;
	font-size: 50%;
	opacity: 0.5;
}

.popup {
    position: relative;
    display: inline-block;
	text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 700px;
	height: 600px;
    background-color: black;
    color: white;
	font-size: 200%;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -350px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}

.star {
	position: absolute;
	background: url(https://dl.dropbox.com/u/1488103/julie-logo-sparkle.png) no-repeat;
	background-size: contain;
	overflow: hidden;
}
.star-1 {
	 width: 50px;
	 height: 34px;
	 top:110px;
	 left:97px;
 }
.star-2 {
	 width: 83px;
	 height: 77px;
	 top:18px;
	 left:224px;

 }
.star-3 {
	 width: 74px;
	 height: 70px;
	 top:115px;
	 left:172px;
 }
.star-4 {
	 width: 68px;
	 height: 70px;
	 top:46px;
	 left:162px;
 }
.star-5 {
	width: 68px;
	height: 70px;
	top:32px;
	left:578px;
}
.star-6 {
	width: 68px;
	height: 70px;
	top:90px;
	left:459px;
}
.star-7 {
	width: 68px;
	height: 70px;
	top:134px;
	left:423px;
}
.star-8 {
	width: 68px;
	height: 70px;
	top:12px;
	left:300px;
}
.star-9 {
	/*alumine*/
	width: 68px;
	height: 70px;
	top: 370px;
	left:312px;
}
.star-10 {
	/*ylemine*/
	width: 68px;
	height: 70px;
	top:265px;
	left:355px;
}
.star-11 {
	/*keskmine*/
	width: 68px;
	height: 70px;
	top:325px;
	left:300px;
}

#screen
{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
}

